.features {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    & > * {
        flex: 0 0 48.8rem;
    }

    @media only screen and (min-width: $bp-desktop) {
        & > * {
            flex: 0 0 44rem;
        }

        & .feature-card:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
}