.features {
    display: grid;
    grid-template-rows: repeat(3, 48.8rem);
    row-gap: 4rem;

    @media only screen and (min-width: $bp-desktop) {
        grid-template-rows: repeat(3, 44rem);

        & .feature-card:nth-child(odd) {
            flex-direction: row-reverse;
        }
    }
}
