.footer {
    background-color: var(--color-very-dark-cyan);
    padding: 13.9rem 1.6rem 4.6rem;
    color: var(--color-white);

    &__logo {
        margin-bottom: 2.5rem;
    }

    &__nav-contacts {
        margin-bottom: 4.2rem;
    }

    &__nav-links {
        margin-bottom: 2.4rem;
    }

    &__nav-socials {
        margin-bottom: 2.4rem;
    }

    &__copyrights {
        font-size: 1.1rem;
        line-height: normal;
        text-align: center;
    }

    @media only screen and (min-width: $bp-desktop) {
        padding: 14.4rem 7.8rem 6.4rem 12rem;

        display: grid;
        grid-template-rows: auto 15.4rem auto;
        grid-template-columns: 37.9rem 1fr minmax(26.2rem, max-content);
        grid-template-areas: 
            "logo logo logo"
            "contacts links socials"
            "contatcs . copyrights";

        column-gap: 13rem;
        
            &__logo {
                grid-area: logo;
                margin-bottom: 3.2rem;
            }
        
            &__nav-contacts {
                grid-area: contacts;
                margin-bottom: 0rem;
            }
        
            &__nav-links {
                grid-area: links;
            }
        
            &__nav-socials {
                grid-area: socials;
                margin-bottom: 0rem;
                justify-self: start;
            }
        
            &__copyrights {
                grid-area: copyrights;
                justify-self: start;
                font-size: 1.2rem;
            }
    }
}