.hero {
    padding: 0rem 1.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;

    &__content {
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3.2rem;
    }

    &__heading {
        margin-bottom: -0.08rem;
    }

    &__img {
        width: 29.6rem;
        height: 20.9rem;
    }

    @media only screen and (min-width: $bp-desktop) {
        padding: 0rem;

        flex-direction: row;
        row-gap: 0rem;
        column-gap: 7rem;
    
        &__content {
            text-align: left;

            align-items: flex-start;
        }
    
        &__heading {
            margin-bottom: 0rem;
        }
    
        &__img {
            width: 68rem;
            height: 48.2rem;
        }
    }
}
