.btn-primary {
    font-weight: var(--fw-bold);
    font-size: 1.2rem;
    line-height: normal;
}

.btn-secondary {
    font-weight: var(--fw-bold);
    font-size: 1rem;
    line-height: 1.5rem;
}

.btn-tertiary {
    font-weight: var(--fw-bold);
    font-size: 1rem;
    line-height: normal;
}