.links {
    list-style: none;
    height: 100%;

    display: flex;
    flex-flow: column wrap;
    row-gap: 1.6rem;

    &__link {
        text-decoration: none;
        color: inherit;

        font-size: 1.4rem;
        line-height: 2.7rem;

        &:hover {
            text-decoration: underline;
        }
    }

    @media only screen and (min-width: $bp-desktop) {
        row-gap: 1.2rem;
    }
}
