.links {
    & > ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
    }

    &__link {
        text-decoration: none;
        color: inherit;

        font-size: 1.4rem;
        line-height: 2.7rem;

        &:hover {
            text-decoration: underline;
        }
    }
}
