.socials {
    & > ul {
        list-style: none;
        display: flex;
        justify-content: center;
        column-gap: 1.25rem;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 1.4rem;
        transition: all 0.25s ease-out;

        &--circle {
            width: 3.1rem;
            height: 3.1rem;
            border: 1px solid var(--color-light-grayish-blue);
            border-radius: 50%;
            display: grid;
            place-content: center;

            &:hover,
            &:active {
                border-color: var(--color-pink);
            }
        }

        &:hover,
        &:active {
            color: var(--color-pink);
        }
    }
}
