:root {
    --color-very-pale-cyan: #EDFBFF;
    --color-pink: #FF52C1;
    --color-light-pink: #FF9ADB;
    --color-very-dark-cyan: #00252E;
    --color-grayish-blue: #808E9A;
    --color-light-grayish-blue: #DFE4F0;
    --color-white: #FFF;

    --ff-heading: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    
    // center content on page
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}
